node_modules
npm-debug.log
package-lock.json

demo01/node_modules
demo02/node_modules
demo03/node_modules
demo04/node_modules
demo05/node_modules
demo06/node_modules
demo07/node_modules
demo08/node_modules
demo09/node_modules
demo10/node_modules
demo11/node_modules
demo12/node_modules
demo13/node_modules
demo14/node_modules
demo15/node_modules

demo01/yarn.lock
demo02/yarn.lock
demo03/yarn.lock
demo04/yarn.lock
demo05/yarn.lock
demo06/yarn.lock
demo07/yarn.lock
demo08/yarn.lock
demo09/yarn.lock
demo10/yarn.lock
demo11/yarn.lock
demo12/yarn.lock
demo13/yarn.lock
demo14/yarn.lock
demo15/yarn.lock
